.footer{
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    font-weight: 300;
    position: relative;
    top: 10%;

    a{
        color: #000;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .footer{
        top: 50%;
    }
}

@media all and (max-width:480px){
    .footer{
        top: 40%;
    }
}

 /*galaxy s6*/
 @media screen 
 and (device-width: 360px) 
 and (device-height: 640px) 
 and (orientation: portrait) {
     .footer{
         top:50%;
     }
 }

 /* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .footer{
      top: 20% !important;
  }
}
 

 /* Portrait iphone 6,6s,7 and 8 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
  .footer{
      top: 50%;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    .footer{
        top: 100%;
    }
}

/* Portrait iphone 6+,7+,8+*/
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and(-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape) { 
    .footer{
        top: 90%;
    }
}