.header {
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 30px;

    a {
        color: #fff;
    }

    p{
        text-transform: uppercase;
        font-weight: 200;
        padding-left: 1rem;
    }
}