.image {
    position: absolute;
    left: 38%;
    z-index: -2;
    top: 20%;
}

.box {
    width: 600px;
    height: 380px;
    background: #F5F5F5;
    position: absolute;
    z-index: -2;
    top: 10%;
    left: 25%;
}