.close{
    a{
        letter-spacing:5px;
        color: #a7a7a7;
        position: absolute;
        top: 25%;
        padding-left: 4rem;
        font-size: .85rem;
        text-transform: uppercase;
        transition: .5s ease-in-out;

        &::before{
            content:"";
            position: absolute;
            border-bottom: 1px solid;
            width: 40%;
            top:50%;
            left: 0;
        }

        &:hover{
            color: #000;
        }
    }
}

.pageContainer{
    display: flex;
    justify-content: center;
    padding: 2rem 6rem;

    p{
        word-wrap:wrap;
        width: 80%;
    }

    .images{
        width: 1000px;

        .devsound{
            display:flex;
            flex-direction: column;
        }
    }

    .projectInfo{
        padding: 0rem 2rem;
        width: 50%;

        .heading{
            margin-top: 5rem;

            p{
                color: #c9c9c9;
                font-size: .85rem;
            }

            h2 {
                font-weight: 500;
                font-size: 2.5rem;
            }
        }

        h1{
            font-size: 8rem;
            text-align: center;
            letter-spacing: -10px;
            color: #c9c9c9;
            opacity: .25;
            font-family: Arial, Helvetica, sans-serif;
        }

        .stack{
            margin: 2rem 0;
            p{
                color: #c9c9c9;
                font-size: .85rem;
            }

            li{
                line-height: 1rem;
            }
        }


        a{
            color: #000;
            font-weight: 700;
            border: 1px solid #c9c9c9;
            padding: .5rem 2rem;
            transition: .5s ease-in;
            font-size: .85rem;

            &:hover{
                border: 1px solid #000;
            }
        }
    }
}

@media all and (max-width: 1400px){
    .pageContainer{
        padding: 2rem;
        .images{
            width: 700px;
        }
    }

    .projectInfo{
        padding: 0rem 1rem;
        width: 100%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .pageContainer{
        padding: 1rem;
        .images{
            width: 450px;
        }

        p{
            width: 80%;
            line-height: 2rem;
        }
    }
}

@media all and (min-width:768px) and (max-width:1023px){
    .close{
        a{
            top: 80%;
        }
    }
    
    .pageContainer{
        padding: 0 .5rem;
        .images{
            width: 400px;
        }
        p{
            width: 100%;
            line-height: 2rem;
        }

        .stack{
            margin: 5rem 0;
        }
        .projectInfo{
            h1{
                font-size: 5rem;
                text-align: center;
                letter-spacing: -10px;
                color: #c9c9c9;
                opacity: .25;
                font-family: Arial, Helvetica, sans-serif;
            }

            .heading{
                margin-top: 0rem;

                p{
                    margin-bottom: -10px;
                }
            }
        }
    }
}

@media all and (min-width: 480px) and (max-width: 767px){
    .close{
        a{
            top: 22%;
        }
    }
    .pageContainer{
        flex-direction: column;
        justify-content: center;

        p{
            width: 100%;
        }

        .images{
            width: 450px;
            padding: 1rem;
        }

        .projectInfo{
            margin: 0 auto;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

 /*galaxy s6*/
 @media screen 
 and (device-width: 360px) 
 and (device-height: 640px) 
 and (orientation: portrait) {
     .close{
         a{
             top: 35%;
         }
     }

     .pageContainer{
        flex-direction: column;
        justify-content: center;

        p{
            width: 100%;
        }

        .images{
            width: 300px;
        }

        .projectInfo{
            margin: 0 auto;
            width: 100%;
            margin-bottom: 1rem;

            a{
                padding:10px 50px;
                margin: 0 auto;
            }
        }
     }
 }

  /* Landscape */
@media screen 
and (device-width: 640px) 
and (device-height: 360px) 
and (orientation: landscape) {
    .close{
        a{
            top: 30%;
        }
    }

    .pageContainer{
        justify-content: center;

        .images{
            width: 590px;
            padding: 0;
        }

        .projectInfo{
            padding: 0;

            .heading{
                margin-top: 2rem;
            }
            h1{
                font-size: 3.5rem;
                letter-spacing: -5px;
                width: 50%;
                text-align: center;
                margin: 0 auto;
            }

            .stack{
                margin: 0;
            }
        }
    }
}

/* Portrait iphone 6,6s,7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .close{
        a{
            top: 35%;
        }
      }

      .pageContainer{
        flex-direction: column;
        justify-content: center;

        p{
            width: 100%;
        }

        .images{
            width: 330px;
        }

        .projectInfo{
            margin: 0 auto;
            width: 100%;
            margin-bottom: 1rem;

            a{
                padding:10px 50px;
                margin: 0 auto;
            }
        }
     }
  }

  /* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
  .pageContainer{

    .images{
        width: 600px;
    }
      .projectInfo{
          .heading{
              margin-top: 0;
          }
          h1{
            font-size: 4rem;
            letter-spacing: -5px;
            width: 50%;
            text-align: center;
            margin: 0 auto;
          }
      }
  }
}