.social{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 80vw;
    top: 0;

    li{
        text-orientation: mixed;
        writing-mode: vertical-rl;
        
        a {
            color: #595959;
            text-transform: uppercase;
            font-weight: 300;
            padding: 2rem;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .social{
        flex-direction: column;
        top: 500px;
        left: 0;
        width: 100%;
        text-align: center;

        li{
            writing-mode: horizontal-tb;
        }
    }
}

@media all and (min-width: 480px) and (max-width: 767px){
    .social{
        flex-direction: column;
        top: 400px;
        left: 0;
        width: 100%;
        text-align: center;

        li{
            writing-mode: horizontal-tb;

            a {
                padding: 1rem;
            }
        }
    }
}

/*galaxy s5*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (orientation: portrait) {
    .social{
        flex-direction: column;
        top: 250px;
        left: 0;
        width: 100%;
        text-align: center;

        li{
            writing-mode: horizontal-tb;

            a{
                padding: .5rem;
            }
        }
    }
}

@media screen 
and (device-width: 640px) 
and (device-height: 360px) 
and (orientation: landscape) {
    .social{
        top:200px;
    }
}

/* Portrait iphone 6,6s,7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .social{
        flex-direction: column;
        top: 350px;
        left: 0;
        width: 100%;
        text-align: center;

        li{
            writing-mode: horizontal-tb;

            a{
                padding: .25rem;
            }
        }
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}